*.csv
*.ipynb
.dat
/.dat
/.ipynb_checkpoints
/__pycache__
/agency.txt.asc
/agency.txt.gpg
/convox-stable-darwin-amd64.zip
/gtfs2geojson
/gtfsman.py
/pygtfs
/venv
GTFS_Rail_Nextrain.zip
log.txt
myconfig.py
myconfig.pyc
rail2_rsa.txt
rsa.txt
stop_times_sorted.txt
/stop_times.db
/csv_test.db
